#Java
target/
dependency-reduced-pom.xml

# Log file
*.log

# Idea files
.idea
*.iml

# Eclipse files
.settings/
.classpath
.project

# NetBeans files
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar